#!/usr/bin/env ruby

# General
preprocess do
  copy_static # add assets to the output directory
  generate_talks('content/talks.yaml') # generate the talks' page dynamically
end

# The /talks/index.html must not be generated
route '/talks/' do
  nil
end

# Sitemap
compile '/sitemap/' do
  filter :erb
end

route '/sitemap/' do
  '/sitemap.xml'
end


# General
compile '*' do
  filter :erb
  layout 'default'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :erb
