---
title: Italian Ruby Day | Schedule
priority: 0.5
---

<div class='row'>
  <div class='twelve columns'>
    <h3>Schedule</h3>
  </div>
</div>
<div class='row' id='schedule'>
  <div class='twelve columns'>
    <div class='row'>
      <div class='two columns'></div>
      <div class='five columns'><div><h5>Track #1 - Ruby Mine</h5></div></div>
      <div class='five columns'><div><h5>Track #2 - Ruby Space</h5></div></div>
    </div>
    <div class='row'>
      <div class='two columns'><div class='interval'>8.30 - 9.00</div></div>
      <div class='ten columns'><div class='break'>Registrazione</div></div>
    </div>
    <div class='row'>
      <div class='two columns'><div class='interval'>9.00 - 9.40</div></div>
      <div class='ten columns'><div class='talk'>Giovanni Intini - Presentazione RubyDay.it, la storia della comunità Ruby in Italia.</div></div>
    </div>
    <div class='row'>
      <div class='two columns'><div class='interval'>9.40 - 10.10</div></div>
      <div class='ten columns'><div class='break'>Coffee Break</div></div>
    </div>
    <div class='row'>
      <div class='two columns'><div class='interval'>10.10 - 11.10</div></div>
      <div class='five columns'><div class='talk'><a href="/talks/2/"><%= flag() %>The Aeolus Project cloud</a></div></div>
      <div class='five columns'><div class='talk'><a href="/talks/2/"><%= flag(:en) %>Ruby on Rails survival guide of an aged Java developer rails</a></div></div>
    </div>
    <div class='row'>
      <div class='two columns'><div class='interval'>11.10 - 12.10</div></div>
      <div class='five columns'><div class='talk'><a href="/talks/2/"><%= flag() %>Varnish e caching di applicazioni Rails rails http</a></div></div>
      <div class='five columns'><div class='talk'><a href="/talks/2/"><%= flag(:en) %>MacRuby</a></div></div>
    </div>
    <div class='row'>
      <div class='two columns'><div class='interval'>12.10 - 13.10</div></div>
      <div class='five columns'><div class='talk'><a href="/talks/2/"><%= flag() %>Analisi statica per un linguaggio dinamico tools</a></div></div>
      <div class='five columns'><div class='talk' id='talk_2'><a href="/talks/2/"><%= flag() %>Symfony2 and RoR3 friends for an hour rails</a></div></div>
    </div>
    <div class='row'>
      <div class='two columns'><div class='interval'>13.10 - 14.10</div></div>
      <div class='ten columns'><div class='break'>Pausa pranzo</div></div>
    </div>
    <div class='row'>
      <div class='two columns'><div class='interval'>14.10 - 15.10</div></div>
      <div class='five columns'><div class='talk'><a href="/talks/2/"><%= flag(:en) %>A metaprogramming Spell Book for Ruby and Rails meta</a></div></div>
      <div class='five columns'><div class='talk'><a href="/talks/2/"><%= flag() %>Webby: ASCII alchemy for quick website authoring tools</a></div></div>
    </div>
    <div class='row'>
      <div class='two columns'><div class='interval'>15.10 - 16.10</div></div>
      <div class='five columns'><div class='talk'><a href="/talks/2/"><%= flag() %>Progettare e sviluppare mobile web applications utilizzando Mockup, Sencha Touch e Sinatra mobile</a></div></div>
      <div class='five columns'><div class='talk'><a href="/talks/2/"><%= flag() %>Minegems: Hosting privato di gemme tools</a></div></div>
    </div>
    <div class='row'>
      <div class='two columns'><div class='interval'>16.10 - 17.10</div></div>
      <div class='five columns'><div class='talk'><a href="/talks/2/"><%= flag(:en) %>RSpec best practices tools</a></div></div>
      <div class='five columns'><div class='talk'><a href="/talks/2/"><%= flag() %>To batch or not to batch</a></div></div>
    </div>
    <div class='row'>
      <div class='two columns'><div class='interval'>17.10 - 18.10</div></div>
      <div class='five columns'><div class='talk'><a href="/talks/2/"><%= flag() %>Continuous integration/deployment tools</a></div></div>
      <div class='five columns'><div class='talk'><a href="/talks/2/"><%= flag(:en) %>Solid design for Rails applications rails</a></div></div>
    </div>
    <div class='row'>
      <div class='two columns'><div class='interval'>18.10 - 18.30</div></div>
      <div class='ten columns'><div class='break'>Saluti finali e distribuzione premi</div></div>
    </div>
  </div>
</div>
