/*	--------------------------------------------------
	:: Social menu icons
	-------------------------------------------------- */

p { font-size: 14px !important; line-height: 22px !important; }
.red-color { color: #e10000 !important; }
.red { background-color: #e10000 !important; }
.black { color: #000 !important; }
.subheader { font-size: 18px !important; }
.big-title { font-size: 46px !important; }
.small-title { font-size: 26px !important; }
.small { font-size: 70% !important; }
.big { font-size: 190% !important; }
.no-border { border: none !important; }
.content { margin-top: 30px; }
.active.golden { background-color: #f5db00 !important; color: #444 !important; margin-top: 10px !important; }
.active.silver { background-color: #969696 !important; color: #eee !important; }
.section { margin-bottom: 40px !important; }

/*	--------------------------------------------------
	:: Social menu icons
	-------------------------------------------------- */

#menu-social ul.menu {
  margin: 0;
  padding: 0;
  margin-top: 20px; }
#menu-social ul.menu {
  border: none;
  list-style: none;
  text-align: left;
  border-image: initial; }
#menu-social {
  position:absolute;
  right:0; }
#menu-social ul.menu li {
  float:left;
  margin:0;
  width:55px;
  height:55px;
  display:block; }
#menu-social ul.menu li a {
  width:51px;
  height:55px;
  display:block;
  text-indent:-9999px; }
#menu-social ul.menu li a.twitter {
  background:url(/images/social.png) 0 0 no-repeat; }
#menu-social ul.menu li a.facebook {
  background: url(/images/social.png) -51px 0px no-repeat; }
#menu-social ul.menu li a.linkedin {
  background:url(/images/social.png) -102px 0px no-repeat; }
#menu-social ul.menu li a.mail {
  background:url(/images/social.png) -153px 0px no-repeat; }
#menu-social ul.menu li a.mail:hover {
  background:url(/images/social.png) -153px -55px no-repeat; }
#menu-social ul.menu li a:hover {
  background:url(/images/social.png) 0 -55px no-repeat; }

/*	--------------------------------------------------
	:: Google maps
	-------------------------------------------------- */
/* Some visualization problems caused by Foundation, this fix the issue */
#gmap_canvas img {
  max-width: none;
  height: auto;
}

#gmap_canvas {
  border: 2px solid #e10000;
}
