#main { float:left; width:640px; margin: 30px 10px 20px 0px; }
#main h1 {color: #000; font-size: 34px; line-height: 40px; margin: 0px 0 5px 0; font-weight: normal;}
#main h2 {color: #000; font-size: 28px; line-height: 32px; margin: 0px 0 15px 0; font-weight: normal;}
#main p { margin-bottom: 10px; }
#main div.article { margin: 20px 0 35px 0px; }
#main div.summary { margin-bottom: 0px; }
#main div.separator { margin-bottom: 30px }
#main div.tag-buttons { margin: 8px 0px 25px 0px; }
#main span.sub {display: block; font-size: 20px; color:#ea198f; padding-bottom: 10px;}
#main a.button { margin: 0px 0px; }
#main ul {list-style-type: none;}
#main ul li {margin-bottom: 5px;}
#main ul li span { font-size:17px; font-weight:normal; font-style:normal;}
#main ul li span span {font-size:16px;}
#main ul li span.subtitle a {color:#ea198f; font-size:13px; text-transform:uppercase; }
#main ul li span.title a {color: #FFF; background-color:#ea198f; padding: 2px 6px;}
#main div.more { background: #F4F4F4; border-top: #ddd solid 1px; border-bottom: #ddd solid 1px; padding: 15px 0 0 5px; }
#sidebar { text-align: right; float:right; width:296px; margin: 30px 0px 20px 0px; }
#sidebar h3 { margin-bottom: 10px; }
#sidebar div#subscriptions { margin-bottom: 25px; }
#sidebar div#subscriptions p { margin-bottom: 0px !important; }
#sidebar a.button { margin: 5px 0px; }
#sidebar ul { list-style-type: none; }
#disqus_thread {margin-top: 50px;}
#main .article blockquote {margin-top: 10px; }
#main .article p {line-height: 22px;}
#main .article ol li { color: #404040; }
