ul li#rethink a span.label { background:url(/images/boxes/rethink.png) repeat-x center bottom; }
ul li#communicate a span.label { background:url(/images/boxes/communicate.png) repeat-x center bottom; }
ul li#mashups a span.label { background:url(/images/boxes/mashups.png) repeat-x center bottom; }
ul li#control a span.label { background:url(/images/boxes/control.png) repeat-x center bottom; }
ul li#developers a span.label { background:url(/images/boxes/developers.png) repeat-x center bottom; }
ul li#suppliers a span.label { background:url(/images/boxes/suppliers.png) repeat-x center bottom; }

ul li#frontend a span.label { background:url(/images/boxes/frontend.png) repeat-x center bottom; }
ul li#backend a span.label { background:url(/images/boxes/backend.png) repeat-x center bottom; }
ul li#integrator a span.label { background:url(/images/boxes/integrator.png) repeat-x center bottom; }
ul li#creative a span.label { background:url(/images/boxes/creative.png) repeat-x center bottom; }
ul li#interaction a span.label { background:url(/images/boxes/interaction.png) repeat-x center bottom; }
ul li#data a span.label { background:url(/images/boxes/data.png) repeat-x center bottom; }
ul li#security a span.label { background:url(/images/boxes/security.png) repeat-x center bottom; }
ul li#energy a span.label { background:url(/images/boxes/energy.png) repeat-x center bottom; }
