/* BODY and PAGE
---------------------------------------------------------------------- */

/** { margin: 0; padding: 0; font-family: Georgia, Palatino, Times, 'Times New Roman', sans-serif;}*/
* { margin: 0; padding: 0; font-family: Helvetica, Arial, Sans-Serif; }
body { text-rendering:optimizeLegibility; font-size:15px; line-height:22px; color:#333; background:#FFF; }


/* LAYOUT
---------------------------------------------------------------------- */

div#page { width:946px; margin:0px auto; padding:0px 17px 0px 17px;}
.centered { width:946px; margin:0px auto; margin-bottom: 0px !important;  padding:0px 17px 0px 17px;}


/* COLORS
---------------------------------------------------------------------- */

span.magenta {color: #ea198f; }
span.green {color: #00979d; }


/* 3.LINKS
---------------------------------------------------------------------- */

a { text-decoration: none !important; }
a:link, a:visited { color: #ea198f; }


/* MENU
---------------------------------------------------------------------- */

div#header { background-color: #00979d; }
div#content-header { width:946px; margin:0px auto; padding:0px 15px 10px 15px; }
#content-header { height: 56px; width: 100%; background-color: #00979d; color: #FFF;}
#content-header div.logo { float: left; padding-top: 10px; }
#content-header div.menu { float: right; font-size: 15px; margin-top: 30px; }
#content-header div.menu a { margin: 0px 5px; color: #FFF; }
#content-header div.menu a:link, #header-header div.menu a:visited { color: #FFF; }
#content-header img { border: none; }
#content-header div.menu a.selected {background-color: #03acb3; padding:4px 10px; -moz-border-radius: 2px; border-radius: 3px;}


/* OVERVIEW (main title)
---------------------------------------------------------------------- */
div#overview div.container { padding: 30px 0 0 0; }
div#overview div.container #headline { clear:both; text-indent:-9999px; }
div#overview div.home {background:url(/images/home.png) center top repeat-x; height: 160px; }
div#overview div.collaborations {background:url(/images/collaborations.png) center top repeat-x; height: 160px; }
div#overview div.features {background:url(/images/features.png) center top repeat-x; height: 160px; }
div#overview div.about {background:url(/images/about.png) center top repeat-x; height: 160px; }
/* Extra message */
div#advertise { width: 946px; }
div#advertise p { background-color:#F4F4F4; border: 1px #dddddd solid; padding: 3px 0px; font-size: 14px; margin: 15px 0 15px 0; }
/* Inner page substitutions */
div.image-content { clear:both; text-indent:-9999px; }
#collaborations div.headline {background:url(/images/collaborations-ann.png) center top repeat-x; height: 105px;}


/* INVITATION & SOCIAL
---------------------------------------------------------------------- */
div#invitation { padding: 15px 0 60px 0;}
div#invitation div.container { padding: 0 0px; }


/* BOX CONTENT
---------------------------------------------------------------------- */

ul li a span.strap { display:block; text-align: center; font-size:17px; text-transform:uppercase;}
ul li a span.label {  background-color: transparent; display:block; text-align: center; color:#00979d; padding:2px 0 87px 0; font-size:12px; font-weight:normal; font-style:normal; text-transform:uppercase; letter-spacing:1px; margin-bottom:10px; }
ul li span.label span { display:inline; font-size:15px; }
a.arch { line-height:22px; }
.fl { float:left; margin:7px 4px 0 0; padding:0; font-size:65px;  line-height:62%; color:#00979d; }
.fs { float:left; margin:7px 4px 10px 0; padding:0; font-size:65px; line-height:62%; color:#00979d; }
@-moz-document url-prefix() {
.fl { float:left; margin:12px 4px 0 0; padding:0; font-size:65px;  line-height:62%; color:#00979d; }
.fs { float:left; margin:12px 4px 10px 0; padding:0; font-size:65px; line-height:62%; color:#00979d; }
}


/* BOX STRUCTURE
---------------------------------------------------------------------- */

ul li.box {line-height:20px; float:left; width:207px; padding:10px; border:1px solid #DDD; color:#333; margin:10px 10px 0 0; -webkit-box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2); -moz-box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2); box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2); border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; }
ul li.box:hover {background-color: #f5fbfb; opacity:1.0; background-position:center -30px; }
ul li.large {width: 926px;}
ul li.two-cols {width: 446px !important;}
ul li.last {margin-right: 0;}
ul li.text-box {line-height:20px; float:right; width:446px; color:#333; margin:12px 0 0 25px; }
ul li.text-box p.description {line-height: 20px; font-size:15px; color: #333; margin: 24px 0px; }
ul li.post a span.label {padding: 0; margin-bottom: 0;}
ul li.post a span {text-align: left}
div#features ul.content {padding-bottom: 0px;}


/* NAVIGATION
---------------------------------------------------------------------- */

ul.content { clear:both; float:left; list-style-type:none; margin:12px 0 30px 0; padding:0px 0 58px 0;}
.home ul.content { margin:12px 0 50px 0; padding:0; background:transparent; }
.external ul.content { margin:12px 0 10px 0; padding:0; background:transparent; }


/* SITEINFO (footer)
---------------------------------------------------------------------- */

div#siteinfo { position:relative; clear:both; text-align:center; padding:25px 0 20px 0; color:#333;}
div#siteinfo p { margin:0; padding:0; }
div#siteinfo a {margin-left: 15px; }


/* FORMS
---------------------------------------------------------------------- */

form { margin:0; padding:0; }
label { display:block; font-weight:normal; font-style:italic; margin:10px 0 0 0; padding:5px 5px 5px 0; font-size:15px; }
fieldset { margin: 20px 0 0 0; padding:0; border:0px solid #CCC; }
.contact div#content_pri fieldset { margin: 30px 0 0 0; }
.contact div#content_pri input, #from, #subject, #message, .journal div#content_pri input, #name, #email, #url, #comment { padding:5px; font-family:"Times New Roman", Times, serif; font-size:15px; line-height:22px; color:#333; background:#FFFAFA; border-top:0px dashed #FFF; border-right:0px dashed #FFF; border-bottom:1px dashed #CCC; border-left:0px dashed #999; }
#from, #subject, #name, #email, #url { width:500px; }
#message, #comment { width:500px; }
.contact div#content_pri input.go, .journal div#content_pri input.go { margin-top:10px; border-top:0px dashed #FFF; border-right:0px dashed #FFF; border-bottom:0px dashed #999; border-left:0px dashed #999; }
.contact div#content_sec p.vcard { margin-top:0; padding-top:0; }
p.vcard span.role, p.vcard span.fn { display:none; }
ul li.mf a { background:url(../images/site/hcard.gif) no-repeat center right; padding-right:19px; }


/* TITLES
---------------------------------------------------------------------- */
h2.title { clear:both; text-indent:-9999px; }
h2.title a { display:block; height:20px; margin: 0; padding:0; }
div.disclaimer p {text-align: center; letter-spacing: 1px; line-height: 34px; font-size: 26px; color: #00979d; margin: 22px 0 28px 0; }
div.disclaimer a {font-size: 20px; margin-top: 2px; margin-left: 4px; }


/* TEXTAL SECTIONS 
----------------------------------------------------------------------- */
#presentation {margin: 20px 0 0 0}
#textual h2 {font-size: 40px; font-weight: normal; line-height: 40px; padding: 0; color: #000;}
#textual h3 {font-size: 24px; font-weight: normal; line-height: 40px; padding: 0; color: #000;}
#textual p  {padding-bottom: 0; margin: 0; font-size: 15px; line-height: 22px;}
#textual div {margin-bottom: 40px;}
#textual ul {margin: 0 0 10px 0;}
#textual li {margin-left: 18px; line-height: 22px;}
#textual .button {margin: 0 !important;}


/* MISCELLANEUS
----------------------------------------------------------------------- */
.hidden {display: none;}
