.fl { float:left; margin:7px 4px 0 0; padding:6px 0 7px 0; font-size:65px; font-weight:bold; line-height:52%; color:#ba1820; }
.fs { float:left; margin:7px 4px 0px 0; padding:3px 0 20px 0; font-size:65px; font-weight:bold; line-height:62%; color:#ba1820; }

h1 a:hover { background-position:0 -89px; }
h2.ext-dests { height:20px; padding:0; line-height:0px; }
h2.ext-dests a { height:0px; margin:0px 0 16px 0; padding:20px 0 0 0; }
h2.ext-dests a:hover { background-position:0 -19px; }

div#content_wrapper { height: 1%; }

div#content_pri { width:506px;}
div#content_sec { width:191px; padding:15px 0px 0px 0; }

div#content_sec img { display:none; }

div#content_sec a.j-prev:link, div#content_sec a.j-prev:visited, div#content_sec span.j-no, div#content_sec a.j-next:link, div#content_sec a.j-next:visited, div#content_sec p.home-link, div#content_sec p.home-link  { display:none; }

div#content_pri p span, div#content_pri p.intro span, div#content_pri p.blurb span { position:static; margin:0; padding:0 0 0 2px; color:#666; font-size:11px; line-height:0; }

div#content_pri p span sup, div#content_pri p.intro span sup, div#content_pri p.blurb span sup { position:static; margin:0; padding:0; color:#666; font-size:11px; line-height:0; }