h2.what a { background:url(/images/titles/what.png) center top repeat-x;}
h2.why a { background:url(/images/titles/collaborations.png) center top repeat-x;}
h2.blog a { background:url(/images/titles/blog.png) center top repeat-x;}
h2.separator a { background:url(/images/titles/separator.png) center top repeat-x;}
h2.jobs a { background:url(/images/titles/jobs.png) center top repeat-x;}
h2.title a:hover { background-position:center -20px; }
