/*	--------------------------------------------------
	:: Social menu icons
	-------------------------------------------------- */

p { font-size: 14px !important; line-height: 22px !important; }
.red-color { color: #e10000 !important; }
.red { background-color: #e10000 !important; }
.black { color: #000 !important; }
.subheader { font-size: 18px !important; }
.big-title { font-size: 46px !important; }
.small-title { font-size: 26px !important; }
.small { font-size: 70% !important; }
.big { font-size: 190% !important; }
.no-border { border: none !important; }
.content { margin-top: 30px; }
.active.golden { background-color: #f5db00 !important; color: #444 !important; margin-top: 10px !important; }
.active.silver { background-color: #969696 !important; color: #eee !important; }
.section { margin-bottom: 40px !important; }

/*	--------------------------------------------------
	:: Social menu icons
	-------------------------------------------------- */

#menu-social ul.menu {
  margin: 0;
  padding: 0;
  margin-top: 20px; }
#menu-social ul.menu {
  border: none;
  list-style: none;
  text-align: left;
  border-image: initial; }
#menu-social {
  position:absolute;
  right:0; }
#menu-social ul.menu li {
  float:left;
  margin:0;
  width:55px;
  height:55px;
  display:block; }
#menu-social ul.menu li a {
  width:51px;
  height:55px;
  display:block;
  text-indent:-9999px; }
#menu-social ul.menu li a.twitter {
  background:url(/images/social.png) 0 0 no-repeat; }
#menu-social ul.menu li a.facebook {
  background: url(/images/social.png) -51px 0px no-repeat; }
#menu-social ul.menu li a.linkedin {
  background:url(/images/social.png) -102px 0px no-repeat; }
#menu-social ul.menu li a.mail {
  background:url(/images/social.png) -153px 0px no-repeat; }
#menu-social ul.menu li a.mail:hover {
  background:url(/images/social.png) -153px -55px no-repeat; }
#menu-social ul.menu li a:hover {
  background:url(/images/social.png) 0 -55px no-repeat; }

/*	--------------------------------------------------
	:: Google maps
	-------------------------------------------------- */
/* Some visualization problems caused by Foundation, this fix the issue */
#gmap_canvas img {
  max-width: none;
  height: auto;
}

#gmap_canvas {
  border: 2px solid #e10000;
}

/*	--------------------------------------------------
	:: MailChimp div
	-------------------------------------------------- */
#mc_embed_signup.panel {
  padding-left: 10px;
  padding-right: 10px;
}

#mce-EMAIL {
  width: 95%;
}

/*	--------------------------------------------------
	:: Credits page
	-------------------------------------------------- */
.person {
  clear: both;
  padding: 5px 10px;
  min-height: 5em;
	margin: 0 0 10px 0;
}

.person:hover {
		background: #efefef;
		background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
		box-shadow: 0 2px 5px rgba(0,0,0,0.15);
		-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
		-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
}

.person > img {
  height: 4.3em;
  float: left;
  border: 1px solid #e10000;
  margin-right: 1em;
}

.person p {
  text-align: justify;
  font-size: 1em !important;
	line-height: 1.3em !important;
  margin-bottom: 5px;
}

.person dl.ref dt {
  width: 29%;
  float: left;
}

.person dl.ref dd {
  margin-left: 29%;
}
