/*	--------------------------------------------------
	:: Social menu icons
	-------------------------------------------------- */

p { font-size: 14px !important; line-height: 22px !important; }
.red-color { color: #e10000 !important; }
.red { background-color: #e10000 !important; }
.black { color: #000 !important; }
.subheader { font-size: 18px !important; }
.big-title { font-size: 46px !important; }
.small-title { font-size: 26px !important; }
.small { font-size: 70% !important; }
.big { font-size: 190% !important; }
.no-border { border: none !important; }
.content { margin-top: 30px; }
.active.platinum { background-color: gainsboro !important; color: #444 !important; }
.active.gold { background-color: #f5db00 !important; color: #444 !important; }
.active.silver { background-color: #969696 !important; color: white !important; }
.active.bronze { background-color: #A57164 !important; color: white !important; }
.section { margin-bottom: 40px !important; }

/*	--------------------------------------------------
	:: Social menu icons
	-------------------------------------------------- */

#menu-social ul.menu {
  margin: 0;
  padding: 0;
  margin-top: 20px; }
#menu-social ul.menu {
  border: none;
  list-style: none;
  text-align: left;
  border-image: initial; }
#menu-social {
  position:absolute;
  right:0; }
#menu-social ul.menu li {
  float:left;
  margin:0;
  width:55px;
  height:55px;
  display:block; }
#menu-social ul.menu li a {
  width:51px;
  height:55px;
  display:block;
  text-indent:-9999px; }
#menu-social ul.menu li a.twitter {
  background:url(/images/social.png) 0 0 no-repeat; }
#menu-social ul.menu li a.facebook {
  background: url(/images/social.png) -51px 0px no-repeat; }
#menu-social ul.menu li a.linkedin {
  background:url(/images/social.png) -102px 0px no-repeat; }
#menu-social ul.menu li a.mail {
  background:url(/images/social.png) -153px 0px no-repeat; }
#menu-social ul.menu li a.mail:hover {
  background:url(/images/social.png) -153px -55px no-repeat; }
#menu-social ul.menu li a:hover {
  background:url(/images/social.png) 0 -55px no-repeat; }

/*	--------------------------------------------------
	:: Google maps
	-------------------------------------------------- */
/* Some visualization problems caused by Foundation, this fix the issue */
#gmap_canvas img {
  max-width: none;
  height: auto;
}

#gmap_canvas {
  border: 2px solid #e10000;
}

/*	--------------------------------------------------
	:: MailChimp div
	-------------------------------------------------- */
#mc_embed_signup.panel {
  padding-left: 10px;
  padding-right: 10px;
}

#mce-EMAIL {
  width: 95%;
}

/*	--------------------------------------------------
	:: Credits page
	-------------------------------------------------- */
.person {
  clear: both;
  padding: 5px 10px;
  min-height: 5em;
	margin: 0 0 10px 0;
}

.person:hover {
		background: #efefef;
		background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
		box-shadow: 0 2px 5px rgba(0,0,0,0.15);
		-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
		-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
}

.person > img {
  height: 4.3em;
  float: left;
  border: 1px solid #e10000;
  margin-right: 1em;
}

.person p {
  text-align: justify;
  font-size: 1em !important;
	line-height: 1.3em !important;
  margin-bottom: 5px;
}

.person dl.ref dt {
  width: 29%;
  float: left;
}

.person dl.ref dd {
  margin-left: 29%;
}

/*	--------------------------------------------------
	:: University
	-------------------------------------------------- */
.disco_algolab img {
  border: 1px solid #E10000;
  width: 75px;
}

.disco_algolab.hide-on-phones {
  text-align: center;
}

.disco_algolab.show-on-phones {
  min-height: 95px; /* 75px image + 20px padding */
}

.disco_algolab.show-on-phones img {
  float: left;
  margin-right: 1em;
}

/*	--------------------------------------------------
	:: Sponsors' column
	-------------------------------------------------- */
dl.tabs.companies dd a { text-align: center; }
dl.tabs.companies dd a.active { text-align: left; }

div.companies img {
  border: 1px solid #E10000;
}

/*	--------------------------------------------------
	:: Schedule
	-------------------------------------------------- */
div#schedule > .columns > .row > .columns > div {
  padding: 5px 7px;
  margin-top: 5px;
  margin-bottom: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
  text-align: center;
}

div#schedule > .columns > .row > .columns > div.interval {
  border: 0;
  padding-right: 0;
  padding-left: 0;
  font-weight: bold;
  text-align: right;
}

div#schedule > .columns > .row > .columns > div.break {
  border: 1px solid #EEEEEE;
  color: #555555;
  background-color: #EEEEEE;
}

div#schedule > .columns > .row > .columns > div.talk {
  border: 1px solid #d20000;
  background-color: #d20000;
  color: white;
}

div#schedule > .columns > .row > .columns > div.talk a {
  color: white;
  text-decoration: none;
}

div#schedule img.flag {
  vertical-align: middle;
  padding-right: 5px;
}

/*	--------------------------------------------------
	:: Talk
	-------------------------------------------------- */
.talk .header img.flag {
  padding-right: 0.5em;
}
.talk .header .authors {
  margin-bottom: 0;
}

.talk p {
  text-align: justify;
}

.talk ul {
  font-size: 14px !important;
  margin-left: 30px !important;
	list-style: disc outside !important;
}

.talk .authors .author {
  margin-bottom: 1em;
}

.talk .authors .author h5 {
  color: #e10000;
}

.talk .authors .author ul.contacts li {
  margin-bottom: 0;
}

.back_schedule {
  text-align: right;
}




/*	--------------------------------------------------
	:: Header and background
	-------------------------------------------------- */

#rubyday-background-container { position: relative !important; }
#rubyday-background-container > #rubyday-background {
  background: url('/images/logo.jpg') 0 0 no-repeat;
  position:       absolute  !important;
  top:               0px    !important;
  left:           -300px    !important;
  
  height:          800px    !important;
  margin-bottom:  -800px    !important;
  
  width:           800px    !important;
  margin-right:   -800px    !important;
  
  z-index: -1;
}

#rubyday-title > .foundation-header {
  height: 144px !important;
  width:  374px !important;
}


/* Stolen from bourbon: github.com/thoughtbot/bourbon */
#rubyday-title > .foundation-header > h4, 
#rubyday-title > .foundation-header > h1 > a {
  background-color: transparent !important;
  border:           0           !important;
  color:            transparent !important;
  font:             0/0 a       !important;
  text-shadow:      none        !important;
}

@media handheld, only screen and (max-width: 767px) {
  #rubyday-background-container { display: none; }
  #rubyday-title > .foundation-header > h4, 
  #rubyday-title > .foundation-header > h1 > a {
    font:             inherit !important;
  }
  #rubyday-title > .foundation-header > h4 {
    color:            #aaa !important;
  }
  #rubyday-title > .foundation-header > h1 > a {
    color:            red !important;
  }
}

