    <div id="header">
      <div id="content-header">
        <div class="logo"><a href="/"><img src="/images/logo.png"/></a></div>
        <div class="menu">
          <a href="/collaborations/" class="<%='selected' if @item[:menu]=='collaborations'%>">Collaborations</a>
          <a href="/features/" class="<%='selected' if @item[:menu]=='features'%>">Features</a>
          <a href="/blog/" class="<%='selected' if @item[:menu]=='blog'%>">Blog</a>
          <!--<a href="/apps/">App Store</a>-->
          <a href="/about/" class="<%='selected' if @item[:menu]=='about'%>">About us</a> |
          <a href="http://dev.lelylan.com">Developers</a> 
        </div>
      </div>
    </div>
