<div class='person'>
  <img src='<%= url_avatar(person) %>' alt="<%= person[:name] %>" />
  <h5 class='red-color'><%= person[:name] %></h5>
  <p><%= person[:description] %></p>
  <% unless person[:ref].nil? %>
    <dl class="ref">
      <% person[:ref].each do |key, val| %>
        <% contents = url_and_content(key, val) %>
        <% contents.each do |url, content| %>
          <dt><%= key %></dt>
          <dd><a href='<%= url %>' target="_blank" ><%= content %></a></dd>
        <% end %>
      <% end %>
    </dl>
  <% end %>
</div>
