<div class='person'>
  <img src='/images/avatar.gif' alt="<%= person[:name] %>" />
  <% if website?(person) %>
    <a class="name" href='<%= person[:website] %>' target='_blank'>
      <h5 class='red-color'>
        <%= person[:name] %> &#x21d7;
      </h5>
    </a>
  <% else %>
    <h5 class='red-color'><%= person[:name] %></h5>
  <% end %>
  <% if twitter?(person) %>
    <a href='http://twitter.com/<%= person[:twitter] %>' target='_blank'>
      @<%= person[:twitter] %>
    </a>
  <% end %>
  <p><%= person[:description] %></p>
</div>
