<div class='row'>
  <div class='twelve columns'>
    <h2><%= talk[:track] %></h2>
    <hr />
  </div>
</div>
<div class='row back_schedule'>
  <div class='twelve columns'>
    <a href='/schedule/#talk_<%= talk[:id] %>'>&#8592; back to schedule</a>
  </div>
</div>
<div class="row talk">
  <div class="twelve columns">
    <div>
      <div class="header">
        <h3 class='red-color'><%= flag(talk[:lang], 32) %><%= talk[:title] %></h3>
        <h3 class='subheader red-color authors'><%= talk[:author][:name]%></h3>
        <h3 class='subheader'>from <%= talk[:from] %> to <%= talk[:to] %></h3>
      </div>
      <div class="description">
        <h4>Description</h4>
        <%= markdown(talk[:abstract]) %>
      </div>
      <div class="authors">
        <h4>Author</h4>
          <%= render('/partials/author/', author: talk[:author]) %>
      </div>
    </div>
  </div>
</div>
<div class='row back_schedule'>
  <div class='twelve columns'>
    <a href='/schedule/#talk_<%= talk[:id] %>'>&#8592; back to schedule</a>
  </div>
</div>
